<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventHubConnectionString" value="Endpoint=sb://debezium.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Qsm+2iOcq9LYQYGHUmSQ6U46kz1ZbPqKkFb7plTg43o=;EntityPath=tpch"/>
    <add key="AzureSQLConnectionString" value="Server=tcp:dmmssqlsrv.database.windows.net,1433;Initial Catalog=dmhs;Persist Security Info=False;User ID=damauri;Password=Passw0rd!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add key="BaseLSN" value="0x00000066000152400004"/>
  </appSettings>
</configuration>

