<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventHubConnectionString" value="Endpoint=sb://dmkafka.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=3HTG8g+k9LW4b+zZgMHjcgGYWy+FLEOi2n3lUY1aOCM=;EntityPath=tpch"/>
    <add key="AzureSQLConnectionString" value="Server=tcp:dmmssqlsrv.database.windows.net,1433;Initial Catalog=dmhs;Persist Security Info=False;User ID=damauri;Password=Passw0rd!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add key="BaseLSN" value="0x000004D10000051F0003"/>
  </appSettings>
</configuration>

